.constructor {
    width: 600px;
    justify-self: start;
    max-height: 912px;
}
.constructor_list {
    margin: 0;
    padding: 20px 0 20px;
}

.constructor_inridients {
    overflow-y: scroll;
    max-height: 656px;
    margin: 16px 0 16px;
}

.constructor__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0;
}

.constructor__item:first-child {
    margin-top: 0;
}

.constructor__item:last-child {
    margin-bottom: 0;
}

.constructor__item_bun {
    list-style: none;
    margin-left: 32px;
}

.constructor__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.constructor_inridients::-webkit-scrollbar {
    width: 8px;
  }
  
.constructor_inridients::-webkit-scrollbar-track {
    background-color: #2F2F37;
}

.constructor_inridients::-webkit-scrollbar-thumb {
    background: #8585AD; 
}

.constructor__on_hover {
    border: 1px solid #4C4CFF;
    box-sizing: content-box;
}

.constructor__item__on_hover {
    border: 1px solid #4C4CFF;
    box-sizing: content-box;
}